#bigbox {
	border:1px;
	width:316px;
	height:255px;}

.resultboxL { 
	border: 0px solid gray;
	width:115px;
	height:110px;
	padding:10px;
	padding-top:40px;
	padding-left:25px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:3px;

	color: #723D46;
	font-family: 'Titillium Web';
	font-size: 20px;
	}


.resultboxR { 
	border: 0px solid gray;
	width:115px;
	height:110px;
	padding:10px;
	padding-top:40px;
	padding-left: 25px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:3px;
	color: #723D46;
	background-color: gray;
	font-family: 'Titillium Web';
	font-size:20px;
	border-top-right-radius:40px;
	}

	.middle {
	border: 0px solid gray;
	width:78px;
	height:40px;
	padding:10px;
	padding-top:18px;
	padding-left:14px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:3px;
	background-color: blue;

	color: #723D46; 
	font-family: 'Titillium Web';
	font-size: 20px;
	}

.box {
	border: 0px solid gray;
	width:100px;
	height:100px;
	padding:10px;
	margin-top:0px;
	margin-right:0px;
	float: left;
	position: relative;
	color: #FFF;
	font-weight: bold;
	font-family: 'Titillium Web'; 
	text-align: center;
	font-size: 37px

}


#box-one {
	background-color: #C38D94;
	clear: left;
}	
#box-one:hover {
    background-color: #996869; 
}
#box-one:active {
    background-color: gray;
}




#box-two {
	
	background-color: #C38D94;
}
#box-two:hover {
    background-color: #996869; 
}
#box-two:active {
    background-color: gray;
}




#box-three {
	background-color: #C38D94;
}
#box-three:hover {
    background-color: #996869; 
}#box-three:active {
    background-color: gray;
}




#box-four {
	background-color: #C38D94;
	clear: left;
}
#box-four:hover {
    background-color: #996869; 
}
#box-four:hover {
    background-color: #996869; 
}





#box-five {
	background-color: #C38D94;
}
#box-five:hover {
    background-color: #996869; 
}
#box-five:active {
    background-color: gray;
}





#box-six{
	background-color: #C38D94;
}
#box-six:hover {
    background-color: #996869; 
}
#box-six:active {
    background-color: gray;
}




#box-seven {
	background-color: #C38D94;
	clear: left;
}
#box-seven:hover {
    background-color: #996869; 
}
#box-seven:active {
    background-color: gray;
}





#box-eight {
	background-color: #C38D94;	
}
#box-eight:hover {
    background-color: #996869; 
}
#box-eight:active {
    background-color: gray;
}





#box-nine {
	background-color: #C38D94;
}
#box-nine:hover {
    background-color: #996869; 
}
#box-nine:active {
    background-color: gray;
}





#box-zero {
	background-color: #C38D94;
}
#box-zero:hover {
    background-color: #996869; 
}
#box-zero:active {
    background-color: gray;
}





#box-clear {
	background-color: #C38D94;
	clear: left;
}
#box-clear:hover {
    background-color: #996869; 
}
#box-clear:active {
    background-color: gray;
}





#box-deci {
	background-color: #C38D94;
}
#box-deci:hover {
    background-color: #996869; 
}
#box-deci~:active {
    background-color: gray;
}





#plus-box {
	margin-left: 2px;
	background-color: #723D46
}
#plus-box:hover {
    background-color: #996869; 
}



#minus-box {
	margin-left: 2px;
	background-color: #723D46
}
#minus-box:hover {
    background-color: #996869; 
}




#divide-box {
	margin-left: 2px;
	background-color: #723D46
}
#divide-box:hover {
    background-color: #996869; 
}





#mult-box {
	margin-left: 2px;
	background-color: #723D46
}
#mult-box:hover {
    background-color: #996869; 
}

.additem {
	border: 0px solid gray;
	width:300px;
	height:100px;
	padding:10px;
	margin-top:3px;
	float: left;
	position: relative;
	color: #FFF;
	font-weight: bold; 
	background-color: #A76571;
	clear: left;
	font-size: 40px;
	text-align: center;
}


.equalsbox {
	border: 0px solid gray;
	width:300px;
	height:100px;
	padding:10px;
	margin-top:3px;
	float: left;
	position: relative;
	color: #FFF;
	font-weight: bold; 
	background-color: #A76571;
	clear: left;
	font-size: 40px;
	text-align: center;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:50px;
}

#equals:hover {
    background-color: #582630; 
}
